body {
    background-image: url(../recursos/imagenes/15734-NQG5LW.jpg);
 }

#titulo{
    margin-top: -1em;
}

#txtFecha{
    text-align: center;
}

#txtPac{
    width: 350px;
}

.table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 5px 5px;

    border: 0.5px double;
    
}

th{
    background-color: steelblue;
    color: whitesmoke;
    text-align: center;
}

td{
    background-color: ghostwhite;
    border: 0.5px solid;
    text-align: center;
}

.btn-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.inline{
    width: auto;
    text-align: center;
    margin-bottom: 2em;
}

#pnlInp{
    margin-top: 6em;
    margin-right: 10em;
    margin-left: 13em
}

#pnlTrat{
    width: 20%;
    margin: 0 auto;
}

#check{
    text-align: center;
}

#btnOk {
    text-align: center;
    margin-top: 2em;
}

#btnSalir{
    color: red;
    border: 0px;
    background: unset;
    font-family: Tahoma;
    font-weight: 600;
    font-size: 15px;
}

#lbSalida{
   position: absolute;
   right: 0;
   padding-right: 1em;
   color: red;
   font-weight: 900;
   text-decoration:underline;
}

#gvMedicamentos{
    border: 2px solid;
    box-shadow: gray 4px 4px;
}

#gvMedicamentos td{
    padding-left:5px;
    padding-right:5px;
    text-align: center
}

#gvMedicamentos th{
    text-align: center;
}

.lblbusca{
    padding: 5px;
    background-color: ghostwhite;
    color: steelblue;
    font-weight: 600;
}