body {
}


fieldset{
    margin: 0 auto;
}

#pnlLogin{
    border: 1px solid;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
}

.input-group {
    margin-top: 3em;
}

button{
    margin-top: 2em;
}
